@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
$color-primary: #282828;
$color-secondary: #F5F5F5;
$color-light: #fff;
$color-dark: #757575;
$color-btn: #0062FF;
$main-font: 'Yanone Kaffeesatz', sans-serif;

//MEDIA
$mediaSmall:   "only screen and (min-width : 480px)";
$mediaMedium:   "only screen and (min-width : 768px)";
$mediaLarge:   "only screen and (min-width : 940px)";

html,
body {
  height: 100%;
}

body {
  font-family: $main-font;
  font-size: 16px;
  width: 100%;
  text-align: center;
  background-color: $color-secondary;
}
input,
label,
select,
textarea{
  &:focus-within {
    outline: 1px solid $color-btn;
    outline-offset: 3px;
  }
}
header {
  @media #{$mediaLarge} {
    height:56px;
  }
}
  a {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .0625rem;
    background-color: $color-dark;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .3s ease;
  }
  &:hover,
  &.active {
    &:before {
      transform: scaleX(1);
    }
  }
}

input,
textarea,
select {
  border: 1px solid #757575;
  font-family: $main-font;
}

.no-underline {
  &:hover,
  &.active {
    &:before {
      transform: scaleX(0);
    }
  }
}

.heading-1 {
  font-size: 2.75rem;
  font-weight: bold;
  text-transform: uppercase;
  text-transform: uppercase;
  padding: 0.25rem 1rem;
  @media #{$mediaLarge} {
    font-size: 4.375rem;
  }
}

.heading-2 {
  font-size: 2.25rem;
  text-transform: uppercase;
}
.heading-3 {
  font-size: 1.5rem;
  padding: 0.75rem 0;
}
.wrapper {
  box-sizing: border-box;
  max-width: 940px;
  margin: 0 auto;
}

// OTHERS
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.full-height {
  height: 100%;
}

.warning {
  outline: 1.5px solid red;
}

