.faq {
  background: url("../../dist/img/background-faq.png")no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3.125rem;
  &__container {
    background: $color-secondary;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
  }

  &__col {
    box-sizing: border-box;
    text-align: left;
    padding: 1rem;
    @media #{$mediaMedium} {
      width:50%;
    }
  }
  &__list {
    list-style-type: disc;
  }
  &__content {
    padding: 1rem 0.75rem;
    line-height: 1.25rem;
    &:last-child {
      padding: 1rem 0;
    }
  }
  &__info {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  &__link {
    display: inline-block;
    margin: 0.125rem 1rem;
    color: $color-dark;
  }
}