.hamburger {
  width: 40px;
  @media #{$mediaLarge} {
    display: none;
  }
  &__inner {
    height: 4px;
    display: block;
    background: $color-light;
    width: 100%;
    margin: 6px 0;
    transition: 0.4s;
  }
  &.active {
    .hamburger__inner {
      &:first-child {
        transform: rotate(-45deg) translate(-9px, 6px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:last-child {
        transform: rotate(45deg) translate(-8px, -5px);
      }
    }
  }
}