.hero {
  background: url("../../dist/img/background-faq.png")no-repeat;
  background-size: cover;
  background-position: center;
  height: 305px;
  &__container {
    position: relative;
    height: 100%;
  }
  &__content {
    position: absolute;
    top: 88px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: $color-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media #{$mediaLarge} {
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
      padding: 3rem 0;
      height: auto;
    }
  }
  &__text {
    font-size: 1.5rem;
    text-transform: uppercase;
    @media #{$mediaLarge} {
      font-size: 2.5rem;
    }
  }
}


